Pyrogram==2.0.106
Brotli==1.0.9
multidict==6.0.2
multivolumefile==0.2.3
pathlib==1.0.1
psutil==5.9.4
requests-toolbelt
six==1.16.0
TgCrypto==1.2.3
ujson==5.5.0
user-agent==0.1.10
yarl==1.9.4
ffmpeg-python
selenium
python-dateutil
tempmail-python
fake-useragent
Pillow